* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
    overflow-x: hidden;
}

body {
    background: url('Pics/football_background.png') no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    background-color: #0B1466;
    /* backdrop-filter: blur(15px); */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

/* START: menu */
.logo {
    padding-left: 10px;
    font-size: 2em;
    color: white;
    user-select: none;
    cursor: pointer;
}

.logo span {
    color: #47A2F5;
}

/* searchBox */
.searchBox {
    display: flex;
    width: 400px;
    height: 45px;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
    background: #0D0443;
    border-radius: 50px;
    position: relative;
}

.searchButton {
    color: white;
    position: absolute;
    right: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #47A2F5;
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

button:hover {
    color: #fff;
    background-color: #47A2F5;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateX(-3px);
}

button:active {
    box-shadow: none;
    transform: translateX(0);
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 15px;
    padding: 24px 46px 24px 26px;
}



.navigation a {
    position: relative;
    font-size: 1.2em;
    color: var(--tx);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: var(--tx);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navigation .btnLogin-popup {
    width: 120px;
    height: 37px;
    /* background: var(--hv); */
    border: 1px solid #fff;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.2em;
    color: var(--bg);
    font-weight: 500;
    margin-left: 40px;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.navigation .btnLogin-popup:hover {
    background-color: var(--tx);
    color: #162938;
}

/* END: menu */


/* START: Login - register */
.mid {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    position: fixed;
    top: 15%;
    width: 400px;
    height: 440px;
    transform: translateX(0);
    background: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease-in-out;
    z-index: 100;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    width: 400px;
    height: 550px;
}

.wrapper.remove {
    width: 500px;
    height: 600px;
}

.wrapper.atv {
    width: 400px;
    height: 300px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
    position: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .form-box.login {
    position: absolute;
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-600px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(600px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.wrapper.remove .form-box.login {
    transition: none;
    transform: translateX(-600px);
}

.wrapper.wrapper.remove .form-box.register {
    transition: none;
    transform: translateX(600px);
}

.wrapper .form-box.forgot {
    transition: transform .18s ease;
    transform: translateY(600px);
}

.wrapper.wrapper.atv .form-box.forgot {
    transition: none;
    transform: translateY(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    transition: .5s;
    z-index: 1;
}

.wrapper .icon-close:hover {
    background-color: #fff;
    color: #162938;
}

.form-box h2 {
    font-size: 2em;
    color: var(--tx);
    text-align: center;
    user-select: none;
    /* margin-bottom: 30px; */
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: var(--tx);
    font-weight: 500;
    pointer-events: none;
    transition: opacity .3s;
}


.input-box:focus-within label {
    opacity: 0;
}

.input-box input:valid+label {
    opacity: 0;
}


.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: var(--tx);
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: var(--tx);
}

.remember-forgot {
    font-size: .9em;
    color: var(--tx);
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;

}

.remember-forgot label input {
    accent-color: var(--tx);
    margin-right: 3px;
}

.remember-forgot label {
    color: var(--tx);
    font-weight: 500;
}

.remember-forgot a {
    color: var(--tx);
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
    color: var(--lk);
}

.btn {
    width: 100%;
    height: 50px;
    background: var(--hv);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: var(--bg);
    font-weight: 500;
    transition: .5s;
}

.btn:hover {
    background-color: var(--tx);
    color: var(--bg);
}

.login-register {
    font-size: 0.9em;
    color: var(--tx);
    text-align: center;
    font-weight: 500;
    margin: 10px 0 10px;
}

.login-register p a {
    color: var(--lk);
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

/* END: Login */




/* START: home */
.home {
    width: 100%;
    height: 400px;
    margin-top: 20px;
    display: flex;
    padding: 0px 100px;
    /* hieu chinh */
    position: relative;
    z-index: 0;
}

.home .box-left span {
    color: #47A2F5;
}


.home .box-left,
.home .box-right {
    width: 50%;
}

.home .box-left h2 {
    font-size: 3em;
    margin-top: 70px;
    color: #fff;
    text-shadow: 0px 0px 20px rgba(24, 159, 255, 0.5);
    cursor: default;
}

.home .box-left h3 {
    font-size: 2.5em;
    color: var(--tx);
    margin-top: 20px;
    cursor: default;
}

.home .box-left p {
    font-size: 2em;
    color: var(--tx);
    margin-top: 20px;
    cursor: default;
}

/* button */
.home .box-left button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #183153;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
}

.home .box-left button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #ffd401;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

.home .box-left button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

.home .box-left button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 20px 25px;
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 0.2em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

.home .box-left button:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

/* box-right */

/* END: home */




/* START:: about */


.heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-top: 300px;
    padding-bottom: 3rem;
    font-size: 4rem;
}

.about .row {
    display: flex;
    justify-content: center;
    background: var(--bg);
    border-radius: 10px;
    flex-wrap: wrap;
    margin: 3rem;
}

.about .row .image {
    flex: 1 1 40rem;
}

.about .row .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
}

.about .row .content {
    flex: 1 1 50rem;
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #fff;
}

.about .row .content p {
    font-size: 1.6rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.8;
}

/* button */
.about .row .content .btn-conteiner {
    display: flex;
    justify-content: center;
    --color-text: #ffffff;
    --color-background: #ff135a;
    --color-outline: #ff145b80;
    --color-shadow: #00000080;
}

.about .row .content .btn-content {
    display: flex;
    align-items: center;
    padding: 5px 30px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: var(--color-text);
    background: var(--color-background);
    transition: 1s;
    border-radius: 100px;
    box-shadow: 0 0 0.2em 0 var(--tx);
}

.about .row .content .btn-content:hover,
.btn-content:focus {
    transition: 0.5s;
    -webkit-animation: btn-content 1s;
    animation: btn-content 1s;
    outline: 0.1em solid transparent;
    outline-offset: 0.2em;
    box-shadow: 0 0 0.4em 0 var(--color-background);
}

.about .row .content .btn-content .icon-arrow {
    transition: 0.5s;
    margin-right: 0px;
    transform: scale(0.6);
}

.about .row .content .btn-content:hover .icon-arrow {
    transition: 0.5s;
    margin-right: 25px;
}

.icon-arrow {
    width: 20px;
    margin-left: 15px;
    position: relative;
    top: 6%;
}

/* SVG */
#arrow-icon-one {
    transition: 0.4s;
    transform: translateX(-60%);
}

#arrow-icon-two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.btn-content:hover #arrow-icon-three {
    animation: color_anim 1s infinite 0.2s;
}

.btn-content:hover #arrow-icon-one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.btn-content:hover #arrow-icon-two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
    0% {
        fill: white;
    }

    50% {
        fill: var(--color-background);
    }

    100% {
        fill: white;
    }
}

/* Button animations */
@-webkit-keyframes btn-content {
    0% {
        outline: 0.2em solid var(--color-background);
        outline-offset: 0;
    }
}

@keyframes btn-content {
    0% {
        outline: 0.2em solid var(--color-background);
        outline-offset: 0;
    }
}

/* END:: about */



/* START:: event */

.event {

    padding: 0px 50px 0px 50px;

}

.cards {
    --spacing: 25px;
    --columns: 4;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--spacing));
    margin-bottom: 20px;

}

@media screen and (max-width: 1023px) {
    .cards {
        --columns: 2;
    }
}

@media screen and (max-width: 767px) {
    .cards {
        --spacing: 15px;
        --columns: 1;
    }
}

.card {
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--bg);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: calc(calc(100% / var(--columns)) - var(--spacing));
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
}

.card-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.card-top {
    padding: 25px;
}

.card-title {
    font-weight: 500;
    color: var(--text);
    margin-bottom: 25px;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.card-user {
    display: flex;
    align-items: center;
}

.card-user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 100rem;
    object-fit: cover;
    flex-shrink: 0;
}

.card-user-info {
    padding-left: 20px;
    flex: 1;
}

.card-user-top {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.card-user-name {
    color: aqua;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
}

.card-user-top ion-icon {
    color: #20e3b2;
    margin-left: 5px;
}

.card-user-mop {
    color: #999;
    font-weight: 300;
    font-size: 13px;
}

.card-bottom {
    padding: 25px;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-register {
    color: white;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: blueviolet;
}

.card-top-infor {
    margin-top: 20px;
    color: #ff6651;
}

.card-time {
    display: flex;
    align-items: center;
}

.card-time span {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 18px;
    font-weight: normal;
}

.card-register span {
    margin-left: 10px;
    font-size: 14px;
}

.card-joined {
    font-size: 13px;
    color: #999;
    font-weight: 300;
}

.card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.card-top {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card-user,
.card-bottom {
    margin-top: auto;
    flex-shrink: 0;
}

.card {
    display: flex;
    flex-direction: column;
}

.btn-conteiner {
    display: flex;
    justify-content: center;
    --color-text: #ffffff;
    --color-background: #ff135a;
    --color-outline: #ff145b80;
    --color-shadow: #00000080;
}

.btn-content {
    display: flex;
    align-items: center;
    padding: 5px 30px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: var(--color-text);
    background: var(--color-background);
    transition: 1s;
    border-radius: 100px;
    box-shadow: 0 0 0.2em 0 var(--color-background);
}

.btn-content:hover,
.btn-content:focus {
    transition: 0.5s;
    -webkit-animation: btn-content 1s;
    animation: btn-content 1s;
    outline: 0.1em solid transparent;
    outline-offset: 0.2em;
    box-shadow: 0 0 0.4em 0 var(--color-background);
}

.btn-content .icon-arrow {
    transition: 0.5s;
    margin-right: 0px;
    transform: scale(0.6);
}

.btn-content:hover .icon-arrow {
    transition: 0.5s;
    margin-right: 25px;
}

.icon-arrow {
    width: 20px;
    margin-left: 15px;
    position: relative;
    top: 6%;
}

/* SVG */
#arrow-icon-one {
    transition: 0.4s;
    transform: translateX(-60%);
}

#arrow-icon-two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.btn-content:hover #arrow-icon-three {
    animation: color_anim 1s infinite 0.2s;
}

.btn-content:hover #arrow-icon-one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.btn-content:hover #arrow-icon-two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
    0% {
        fill: white;
    }

    50% {
        fill: var(--color-background);
    }

    100% {
        fill: white;
    }
}

/* Button animations */
@-webkit-keyframes btn-content {
    0% {
        outline: 0.2em solid var(--color-background);
        outline-offset: 0;
    }
}

@keyframes btn-content {
    0% {
        outline: 0.2em solid var(--color-background);
        outline-offset: 0;
    }
}

/* END:: event */




/* START:: news */

/* END:: news */





/* START:: contact */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100px;


}

.contact form {
    width: 600px;
    text-align: center;
}

form .input-box {
    display: flex;
    justify-content: space-between;
}

.input-box .input-field {
    width: 48.5%;
}

.field .item {
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 6px;
    color: #ededed;
}

.field .item::placeholder {
    color: blueviolet;
}

form .textarea-field .item {
    resize: none;
}

form button {
    padding: 12px 32px;
    background: #0ef;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #333;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
}

/* END:: contact */


/* START:: footer */

/* END:: footer */









:root {
    --text: #fff;
    --bg: #0D065B;
    --tx: #9CC2D6;
    --hv: #47A2F5;
    --lk: #F2F2F0;
}